.category {
  display: grid;
  grid-template-columns: 234px 1fr;
  column-gap: 8px;
}

.filter {
  background: #aaa;
  padding: 16px;
}

.colorContent {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 9px;
}

.color {
  display: block;
  height: 23px;
  width: 23px;
}

/* .color input {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
} */

.colorChecked {
  outline: 1px solid var(--color5);
  outline-offset: 2px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
}