.header {
  border-bottom: 1px solid var(--color6);
}

.top {
  background-color: var(--header-top-bg);
  color: white;
}

.topContent {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  height: 44px;
}

.topAddress {
  text-align: center;
}

.topContacts {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  align-items: center;
  font-weight: 600;
}

.main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 92px;
  align-items: center;
}

.logo {
  margin-right: 30px;
  margin-left: 25px;
}

.links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
  align-items: center;
  justify-content: start;
}

.active {
  color: blue;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 25px;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: center;
}

.cartBtn {
  position: relative;
}

.cartBtn:after {
  content: attr(data-count);
  position: absolute;
  right: -8px;
  top: -6px;
  display: block;
  line-height: 17px;
  width: 17px;
  text-align: center;
  background: var(--primary);
  color: white;
  font-size: 10px;
  border-radius: 50%;
}