* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0156FF;
  --color5: #8C8C8C;
  --color6: #CCCCCC;
  --color7: #EBEBEB;
  --color8: #000000;
  --color9: #C94D3F;
  --color11: #666666;
  --header-top-bg: #020202;
  --page-top-padding: 21px;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  font-family: inherit;
  border: 0;
  background: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

.page-title {
  font-size: 32px;
  font-weight: 600;
}

.btn {
  display: grid;
  height: 50px;
  border-radius: 25px;
  justify-items: center;
  align-items: center;
  min-width: 151px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary);
  color: white;
  font-weight: 600;
}

.btn--outline {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn--ghost {
  background: none;
  color: inherit;
  min-width: auto;
}

.btn--icon {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
}

@media (max-width: 412px) {
  .container {
    width: 100%;
    padding: 16px;
  }
}