* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color6: #CCCCCC;
  --header-top-bg: #020202;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--color6);
}

.header-top {
  background-color: var(--header-top-bg);
  color: white;
}

.header-top__content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  height: 44px;
}

.header-top__address {
  text-align: center;
}

.header-top__contacts {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  align-items: center;
  font-weight: 600;
}

.header-main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 92px;
}

.logo {
  margin-right: 30px;
  margin-left: 25px;

}

.links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
  align-items: center;
  justify-content: start;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 25px;
  align-items: center;
}